pkgbase = mygo-git
	pkgdesc = Experimental Go bot implemented in PyTorch
	pkgver = 0.1.0.r144.7ef2505
	pkgrel = 1
	url = https://github.com/jaxvanyang/mygo
	arch = any
	license = MIT
	checkdepends = python-pytest
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-pdm-backend
	depends = python-pytorch
	depends = python-numpy
	provides = mygo
	conflicts = mygo
	source = mygo::git+https://github.com/jaxvanyang/mygo.git
	sha256sums = SKIP

pkgname = mygo-git
