pkgbase = jax-desktop
	pkgdesc = Packages for my desktop environment
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/jaxvanyang/aur/tree/jax-desktop
	arch = any
	license = Unlicense
	depends = fcitx5-rime
	depends = fcitx5-configtool
	depends = kwindowsystem
	depends = rime-double-pinyin
	depends = fcitx5-gtk
	depends = jump
	depends = wl-clipboard
	depends = sshfs
	depends = mission-center
	depends = dotbackup
	depends = isd
	depends = base-devel
	depends = devtools
	depends = namcap
	depends = alacritty
	depends = otf-comic-shanns-nerd
	depends = zed
	depends = neovim
	depends = fish-git
	depends = cachyos-fish-config
	depends = google-chrome
	depends = warp
	depends = rnote
	depends = amberol
	depends = telegram-desktop
	depends = mihomo-party-bin

pkgname = jax-desktop
